@model TrashCollector.Models.Pickups

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pickups</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customers.ApplicationUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customers.ApplicationUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employees.ApplicationUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.ApplicationUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUpDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BonusPickUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BonusPickUp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PickUpId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
