@model IEnumerable<TrashCollector.Models.Pickups>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customers.ApplicationUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employees.ApplicationUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BonusPickUp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customers.ApplicationUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employees.ApplicationUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickUpDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BonusPickUp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PickUpId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PickUpId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PickUpId })
        </td>
    </tr>
}

</table>
